{% extends 'base.html.twig' %}

{% block title %} Bienvenue | {{ parent() }} {% endblock %}

{% block body %}
<div class="container">
    <h1>Browse | {{title ? title : "Tous les fruits"}}</h1>

    <h2 class="mt-5 mb-4">Filtrer par fruit</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
    <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{path('app_page', {slug: ''}) }}">Tous les fruits</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{path('app_page', {slug: 'Pomme'}) }}">Pomme</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{path("app_page", {slug:"Poire"})}}">Poire</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{path("app_page", {slug:"Pastèque"})}}">Pastèque</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Fruits</h2>
        <div class="row">
            {% for mix in mixes %}
                <div class="col col-md-4">
                <a href="{{ path('app_show_id', {id: mix.id}) }} ">

                    <div class="mixed-vinyl-container p-3 text-center">

                        <img src="{{ mix.getImageUrl(300) }}" data-src="{{ mix.getImageUrl(300) }}" alt="Square placeholder img">

                        <p class="mt-2"><strong>{{ mix.title }}</strong></p>
                        
                        <span>{{ mix.idCount }} fruits</span>
                        |
                        <span>{{ mix.pays }}</span>
                        | <span>{{ mix.importAt | date('Y-m-d')}}</span>
                        <br>
                        {{ mix.votesString }} votes
                    </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}